.bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3e4069+63,1f244a+100 */
  background: #000000;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top, #000000 0%, #3e4069 63%, #1f244a 100%);
  background: linear-gradient(to bottom, #000000 0%, #3e4069 63%, #1f244a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1f244a', GradientType=0);
  /* IE6-9 */
}
.buttBg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf9c35+0,917728+23,917728+24,917728+24,e8cd7d+60,fce5a1+70,fce5a1+70,bf9c35+100 */
  background: #bf9c35;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bf9c35 0%, #917728 23%, #917728 24%, #917728 24%, #e8cd7d 60%, #fce5a1 70%, #fce5a1 70%, #bf9c35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bf9c35 0%, #917728 23%, #917728 24%, #917728 24%, #e8cd7d 60%, #fce5a1 70%, #fce5a1 70%, #bf9c35 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf9c35', endColorstr='#bf9c35', GradientType=0);
  /* IE6-9 */
}
.t_sw {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
  text-decoration: none;
  color: #fff;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #292D54;
}
img {
  width: 100%;
}
.userheader {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
}
.userheader div {
  margin: 10px;
  float: left;
  line-height: 1em;
}
.userheader .user_pic {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 1px 1px 2px #000;
  overflow: hidden;
}
.userheader .user_pic img {
  width: 100%;
}
.userheader .user_name {
  width: 50%;
  margin-left: 10px;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
  text-decoration: none;
  color: #fff;
}
.userheader .provision {
  float: right;
  margin-left: 0;
}
.userheader .provision a {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
  text-decoration: none;
  color: #fff;
}
.userheader .user_name,
.userheader .provision {
  margin-top: 30px;
}
.otherinf {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 10px;
}
.otherinf a {
  margin-left: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
  text-decoration: none;
  color: #fff;
}
.pop_stage .bgD {
  width: 100%;
}
.pop_stage .f1 {
  width: 150px;
}
.pop_stage .f2 {
  width: 152px;
}
.pop_stage .f3 {
  width: 112px;
}
.pop_stage .f4 {
  width: 91px;
}
.pop_stage .bgT {
  width: 100%;
}
.pop_stage .lstar {
  width: 100%;
}
.pop_stage .earth {
  width: 100%;
}
.pop_stage .plain {
  width: 156px;
}
.pop_stage .cloud1 {
  width: 243px;
}
.pop_stage .cloud2 {
  width: 367px;
}
.pop_stage .cloud3 {
  width: 314px;
}
.pop_stage .cloud4 {
  width: 263px;
}
.pop_stage .balloon {
  width: 107px;
}
.pop_stage .cloud5 {
  width: 540px;
}
.pop_stage .pop_logo {
  width: 268px;
}
.pop_stage .starlingtA,
.pop_stage .starlingtB {
  width: 25px;
}
.pop_stage .starclick {
  width: 155px;
}
.pop_stage .starget {
  width: 88px;
}
.pop_stage .arrow {
  width: 26px;
}
.pop_stage .airstarA,
.pop_stage .airstarB {
  width: 120%;
}
.pop_stage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
}
.pop_stage .pop_bg {
  width: 100%;
  height: 600%;
  position: absolute;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3e4069+63,1f244a+100 */
  background: #000000;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top, #000000 0%, #3e4069 63%, #1f244a 100%);
  background: linear-gradient(to bottom, #000000 0%, #3e4069 63%, #1f244a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#1f244a', GradientType=0);
  /* IE6-9 */
}
.pop_stage .star {
  position: absolute;
  z-index: 888;
  width: 88px;
  height: 88px;
  top: 45%;
  left: 50%;
  margin-left: -44px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
.pop_stage .star div {
  position: absolute;
}
.pop_stage .star .starlingtA,
.pop_stage .star .starlingtB {
  width: 25px;
  height: 114px;
  bottom: 39px;
  left: 31px;
}
.pop_stage .star .starclick {
  opacity: 0;
  width: 155px;
  height: 155px;
  top: -37px;
  left: -33px;
}
.pop_stage .star .arrow {
  display: none;
  width: 16px;
  bottom: 40px;
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
@media (max-width: 414px) {
  .pop_stage .star .arrow {
    width: 30px;
    left: -35px;
  }
}
@media (max-width: 330px) {
  .pop_stage .star .arrow {
    width: 20%;
    left: -14px;
  }
}
.pop_stage .pop_gametext {
  opacity: 0;
  -webkit-transition-property: opacity,top;
  transition-property: opacity,top;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 100px;
  line-height: 2;
}
@media (max-width: 414px) {
  .pop_stage .pop_gametext {
    font-size: 22px;
  }
}
@media (max-width: 330px) {
  .pop_stage .pop_gametext {
    font-size: 18px;
  }
}
.pop_bg div,
.pop_bg li {
  opacity: 0;
  display: none;
}
.pop_bg div,
.pop_bg li {
  position: absolute;
  z-index: 2;
}
.pop_gametext,
.pop_logo {
  position: absolute;
  opacity: 0;
  z-index: 777;
}
.star .starlingtA,
.star .starlingtB {
  -webkit-animation: starlingt 0.4s cubic-bezier(0.26, 0.25, 1, 0.64) 0s infinite normal;
  animation: starlingt 0.4s cubic-bezier(0.26, 0.25, 1, 0.64) 0s infinite normal;
}
.star .starlingtA {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.star .starlingtB {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.star .starlingtB div {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.star .starget {
  -webkit-animation: starget .1s linear 0s infinite alternate;
  animation: starget .1s linear 0s infinite alternate;
}
.star .starget img {
  -webkit-animation: stargetRu .5s linear 0s infinite normal;
  animation: stargetRu .5s linear 0s infinite normal;
}
.pop_stage .pop_Results {
  width: 300px;
  height: 182px;
  background-color: rgba(1, 1, 2, 0.71);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 2px solid #be9b34;
  position: fixed;
  top: 100%;
  left: 50%;
  margin-top: -91px;
  margin-left: -150px;
  z-index: 999;
  text-align: center;
  box-shadow: 0px -8px 51px #2b1f88 inset, 1px 5px 6px rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-animation-name: pop_Results;
  animation-name: pop_Results;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.pop_Results button {
  display: block;
  margin: 0 auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf9c35+0,917728+23,917728+24,917728+24,e8cd7d+60,fce5a1+70,fce5a1+70,bf9c35+100 */
  background: #bf9c35;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bf9c35 0%, #917728 23%, #917728 24%, #917728 24%, #e8cd7d 60%, #fce5a1 70%, #fce5a1 70%, #bf9c35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bf9c35 0%, #917728 23%, #917728 24%, #917728 24%, #e8cd7d 60%, #fce5a1 70%, #fce5a1 70%, #bf9c35 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf9c35', endColorstr='#bf9c35', GradientType=0);
  /* IE6-9 */
  width: 240px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid #A78728;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.65);
  box-shadow: 0px -2px 10px #fbd868 inset;
  margin: 10px auto;
  cursor: pointer;
}
.pop_Results button :hover {
  border: 2px solid #E0AB0D;
}
.pop_Results .roll_false {
  display: block;
}
.pop_Results .roll_true {
  display: none;
}
.pop_Results .roll_true h1 {
  font-size: 32px;
  line-height: 60px;
  margin-top: 15px;
  color: #be9b34;
  font-weight: normal;
  text-shadow: 0px 0px 15px #1c08ca;
}
.pop_Results .roll_true span {
  text-decoration: underline;
}
.pop_Results .roll_false {
  font-size: 24px;
  line-height: 35px;
  margin-top: 24px;
}
.pop_get {
  opacity: 1;
  display: block;
}
.pop_get .roll_true {
  display: block;
}
.pop_get .roll_false {
  display: none;
}
.pop_ready .pop_bg {
  top: 0%;
  -webkit-animation-name: pop_bg;
  animation-name: pop_bg;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: block;
}
.pop_ready .airstarA,
.pop_ready .airstarB {
  display: none;
}
.pop_ready .pop_gametext {
  opacity: 1;
}
.pop_ready .lstar {
  opacity: 1;
  display: block;
  top: 0px;
}
.pop_ready .star {
  opacity: 1;
  z-index: 888;
}
.pop_ready .pop_logo {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  width: 268px;
  left: 50%;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  margin-left: -134px;
}
@media (max-width: 414px) {
  .pop_ready .pop_logo {
    bottom: 90px;
  }
}
@media (max-width: 330px) {
  .pop_ready .pop_logo {
    bottom: 40px;
    width: 200px;
    margin-left: -100px;
  }
}
.pop_ready ul .earth {
  display: block;
  opacity: 1;
}
@media (max-width: 414px) {
  .pop_ready ul .earth {
    top: 12%;
  }
}
@media (max-width: 330px) {
  .pop_ready ul .earth {
    top: 12%;
  }
}
.pop_run .pop_bg {
  will-change: transform;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.pop_run .pop_bg div,
.pop_run .pop_bg li {
  display: block;
  opacity: 1;
  will-change: transform;
}
.pop_run .pop_Results {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.pop_run .POP_get .roll_false {
  display: none;
}
.pop_run .POP_get .roll_true {
  display: block;
}
.pop_run .pop_gametext {
  opacity: 0;
  top: 20px;
}
.pop_run .arrow {
  display: none;
}
.pop_run .pop_logo {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.pop_run .bgD,
.pop_run .bgT {
  bottom: 0;
  opacity: 1;
  display: block;
}
.pop_run .airstarA {
  -webkit-transform: rotate(167deg);
  -ms-transform: rotate(167deg);
  transform: rotate(167deg);
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0.8;
}
.pop_run .airstarB {
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  opacity: 0.3;
}
.pop_run .airstarA,
.pop_run .airstarB {
  display: block;
  opacity: 0;
  width: 120%;
  top: 0%;
  position: absolute;
  -webkit-animation-name: airstar;
  animation-name: airstar;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 777;
}
.pop_run .pop_bg ul .plain {
  top: 23%;
  left: -50%;
}
.pop_run .pop_bg ul .cloud1 {
  top: 39%;
  right: -22%;
}
.pop_run .pop_bg ul .cloud2 {
  top: 48%;
  left: -38%;
  opacity: .8;
}
.pop_run .pop_bg ul .cloud3 {
  top: 49.3%;
  left: 23%;
  opacity: .4;
}
.pop_run .pop_bg ul .cloud4 {
  top: 59%;
  left: 9%;
}
.pop_run .pop_bg ul .balloon {
  top: 72%;
  right: 0%;
}
.pop_run .pop_bg ul .cloud5 {
  top: 78%;
  left: 0%;
}
.pop_run .pop_bg ul .p_text1 {
  top: 37%;
  left: 0%;
}
.pop_run .pop_bg ul .p_text2 {
  top: 65%;
  left: 0%;
}
.pop_run .p_text1,
.pop_run .p_text2 {
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 450px) {
  .pop_run .p_text1,
  .pop_run .p_text2 {
    font-size: 24px;
  }
}
@media (max-width: 330px) {
  .pop_run .p_text1,
  .pop_run .p_text2 {
    font-size: 16px;
  }
}
.pop_run .plain,
.pop_run .cloud1,
.pop_run .cloud2,
.pop_run .cloud3,
.pop_run .cloud4,
.pop_run .balloon,
.pop_run .cloud5,
.pop_run .p_text1,
.pop_run .p_text2 {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.28, 0.97);
  animation-timing-function: cubic-bezier(0, 0, 0.28, 0.97);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.pop_run .plain {
  -webkit-animation-name: plain;
  animation-name: plain;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.pop_run .cloud2 {
  -webkit-animation-name: cloud2;
  animation-name: cloud2;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
.pop_run .cloud3 {
  -webkit-animation-name: cloud3;
  animation-name: cloud3;
  -webkit-animation-delay: 3.43s;
  animation-delay: 3.43s;
}
.pop_run .balloon {
  -webkit-animation-name: balloon;
  animation-name: balloon;
  -webkit-animation-delay: 5.7s;
  animation-delay: 5.7s;
}
.pop_run .cloud5 {
  -webkit-animation-name: cloud5;
  animation-name: cloud5;
  -webkit-animation-delay: 6.3s;
  animation-delay: 6.3s;
}
.pop_run .p_text1 {
  -webkit-animation-name: p_text;
  animation-name: p_text;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.pop_run .p_text2 {
  -webkit-animation-name: p_text;
  animation-name: p_text;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.pop_run .f1 {
  -webkit-animation-delay: 10.8s;
  animation-delay: 10.8s;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  bottom: 1.8%;
  left: 4%;
}
.pop_run .f2 {
  -webkit-animation-delay: 10.6s;
  animation-delay: 10.6s;
  -webkit-animation-duration: 2.3s;
  animation-duration: 2.3s;
  bottom: 2%;
  left: 32%;
}
.pop_run .f3 {
  -webkit-animation-delay: 10.4s;
  animation-delay: 10.4s;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  bottom: 5%;
  right: 0%;
}
.pop_run .f4 {
  -webkit-animation-delay: 10.3s;
  animation-delay: 10.3s;
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
  bottom: 3%;
  right: 11%;
}
.pop_run .f1,
.pop_run .f2,
.pop_run .f3,
.pop_run .f4 {
  opacity: 0;
  -webkit-animation-name: firework;
  animation-name: firework;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.pop_run .star {
  will-change: left, top;
  -webkit-animation-name: starend;
  animation-name: starend;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.pop_run .pop_logo {
  opacity: 0;
  -webkit-animation-name: pop_logo_over;
  animation-name: pop_logo_over;
  -webkit-animation-delay: 10.5s;
  animation-delay: 10.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (max-width: 450px) {
  .pop_run .pop_logo {
    -webkit-animation-name: pop_logo_over_hd;
    animation-name: pop_logo_over_hd;
  }
}
@media (max-width: 330px) {
  .pop_run .pop_logo {
    -webkit-animation-name: pop_logo_over;
    animation-name: pop_logo_over;
  }
}
.pop_run .starclick {
  opacity: 1;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.starclick_cl .starclick {
  -webkit-animation-name: starclick;
  animation-name: starclick;
}
.starclick_cl .starget img {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
}
.pop_nochance .pop_gametext,
.pop_nochance ul li,
.pop_nochance .star,
.pop_nochance .airstarA,
.pop_nochance .airstarB {
  display: none;
}
.pop_nochance .pop_bg {
  top: -500%;
}
.pop_nochance .pop_bg > div {
  display: block;
  opacity: 1;
  position: absolute;
}
.pop_nochance .pop_Results {
  display: block;
  opacity: 1;
  top: 56%;
}
.pop_nochance .f1 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  bottom: 1.8%;
  left: 4%;
}
.pop_nochance .f2 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-duration: 2.3s;
  animation-duration: 2.3s;
  bottom: 2%;
  left: 32%;
}
.pop_nochance .f3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  bottom: 5%;
  right: 0%;
}
.pop_nochance .f4 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
  bottom: 3%;
  right: 11%;
}
.pop_nochance .f1,
.pop_nochance .f2,
.pop_nochance .f3,
.pop_nochance .f4 {
  opacity: 0;
  -webkit-animation-name: firework;
  animation-name: firework;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.pop_nochance .bgD,
.pop_nochance .bgT {
  bottom: 0;
  left: 0;
}
.pop_nochance .pop_logo {
  display: block;
  opacity: 1;
  left: 50%;
  margin-top: 90px;
}
@media (max-width: 450px) {
  .pop_nochance .pop_logo {
    width: 260px;
    margin-left: -130px;
  }
}
@media (max-width: 330px) {
  .pop_nochance .pop_logo {
    width: 150px;
    margin-top: 80px;
    margin-left: -75px;
  }
}
